body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#gameboard {
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
} 

.space {
    background-color: rgb(201, 201, 239);
}

.space:hover {
    cursor: pointer;
}

.takenSpace {
    background-color: blue;
}